
@{
    ViewData["Title"] = "MyOldReservation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Əvvəlki Rezervlərim</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Istiqamət</th>
        <th>Adam Sayı</th>
        <th>Rezerv tarixi</th>
        <th>Durum</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ReservationId</td>
            <td>@item.Destination.City</td>
            <td>@item.PersonCount</td>
            <td>@item.ReservationDate</td>
            <td>@item.Status</td>
        </tr>
    }
</table>